.nagivationHorizontal
{
    position: fixed;
    top:0;
    right: 0;
    width: 100%;
    height: calc(10vh);

    background-color: rgb(0, 0, 0);
}

.icon
{
    position: fixed;
    top: 0.9%;
    right: 3%;
    cursor: pointer;
}

#nagivationVertical
{
    position: fixed;
    display: none;
    top: 10.2%;
    right: 0;
    width: 31.5%;
    height: calc(100vh);

    border-left: 1px solid white;
    background-color: rgba(0, 0, 0, 0.936);
    z-index: 3;
}

.panelUser
{
    position: fixed;
    color: white;
    top: 20%;
    right: 20%;
    font-size: calc(6vh);
    z-index: 2;
}

.date
{
    position: relative;
    font-family: CaviarDreams;
    font-weight: 700;
}

.showOutput
{
    position: fixed;
    top: 20%;
    right: 10%;
}

.output
{
    position: relative;
    font-family: Sunday;
    font-size: calc(5.3vh);
    font-weight: 100;
}

.panel
{
    position: fixed;
    top: 3.5%;
    right: 10%;
    font-family: CaviarDreams;
    font-weight: 700;
    color: white;
    font-size: medium;
    text-decoration: none;
}

.profile
{
    position: fixed;
    top: 10.2%;
    right: 0;
    height: 90%;
    z-index: -1;
}

.dateProfile
{
    display: inline-block;
    margin: 0 14%;
    color: white;

    z-index: 2;
}

.helloProfile
{
    font-family: Sunday;
    font-weight: 100;
    font-size: calc(7vh);
}

.nickProfile
{
    font-family: CaviarDreams;
    font-weight: 100;
    font-size: calc(4vh);
    font-weight: 600;

    margin: -10% 32%;
}

.home_page_on_profile_page
{
    position: fixed;
    top: 3%;
    left: 3%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    text-decoration: none;
    z-index: 2;
}

.list_button
{
    list-style-type: none;

}

.list_li
{
    position: relative;
    top: 5%;
    left: 17%;
    margin-top: 12%;
    width: calc(43vh);
    list-style-type: none;
    text-align: center;
}

.buttonNavVer
{
    color: white;
    background-color: transparent;
    width: calc(34vh);
    height: 2px;
    cursor: pointer;
    border: none;
    text-decoration: none;
    font-family: CaviarDreams;
    font-weight: 700;
}

.list_li:hover
{
    transition: 0.4s;
    transition-timing-function: ease-in;
    border-bottom: 1.3px solid white;
}


#panelUser
{
    display: none;
    color: white;
}

.panelStyle
{
    position: fixed;
    color: white;
    top: 0;
    left: 0;
    z-index: 3;
}