<head>
    <%= stylesheet_link_tag "profile" %>
</head>
<body>
    <div class="panelUser">
        <h1>Panel użytkownika</h1>
        <p>Imię: <%= @user.name %></p>
        <p>Nazwisko: <%= @user.surname %></p>
    </div>

</body>

